.nav-link:hover {
    color: white;
    border-radius: 5px;
}

.nav-link:focus {
    color: white;
    font-weight: bold;
}

.nav-link:visited {
    color: white;
    font-weight: bold;
}

.nav-link.active {
    color: white;
    font-weight: bold;
}
